DWG_DIR=DWG_files
DXF_DIR=DXF_files
PROCESS_DWG_LOGDIR=Process_log_dwg
JSON_SUMMARY_DIR=Json_Summary_files
SERVER_LOG_DIR=ServerLogFiles
DWG_PROCESS_LOG_DIR=DwgProcess_LogFiles
ODAFC_EXE_PATH=C:/Program Files/ODA/ODAFileConverter 26.4.0/ODAFileConverter.exe