#-------Storage folders------------
DWG_DIR=Storage/DWG_files
DXF_DIR=Storage/DXF_files
PROCESS_DWG_LOGDIR=Storage/Process_log_dwg
JSON_SUMMARY_DIR=Storage/Json_Summary_files
SERVER_LOG_DIR=Storage/ServerLogFiles
DWG_PROCESS_LOG_DIR=Storage/DwgProcess_LogFiles

#-----Converter Service (DWG---->DXF)--->windows
#ODAFC_EXE_PATH=C:/Program Files/ODA/ODAFileConverter 26.4.0/ODAFileConverter.exe
ODAFC_EXE_PATH=/usr/bin/ODAFileConverter

#-------Database Service--------
#DATABASE_URL=postgresql+asyncpg://postgres:Ads2023!@localhost:5432/PUDA_DATABASE
DATABASE_URL=postgresql+asyncpg://postgres:Ads2023!@host.docker.internal:5432/PUDA_DATABASE
#-------Broker Service (Redis And Celery)---------
#CELERY_BROKER_URL=redis://localhost:6379/0
#CELERY_RESULT_BACKEND=redis://localhost:6379/1
#REDIS_URL=redis://localhost:6379/2
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
REDIS_URL=redis://redis:6379/2