.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/
.idea/*

Storage/DWG_files/*
Storage/DXF_files/*
Storage/DwgProcess_LogFiles/*
Storage/Json_Summary_files/*
Storage/ServerLogFiles/*
Storage/*
temp/

.git/