.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/
.idea/

logs/
*.log

Backend/DWG_files/
*.dwg

Backend/DXF_files/
*.dxf
Backend/DwgProcess_LogFiles/
*.log

Backend/Json_Summary_files/
*.json

temp/

.git/